//ajouter regle custom ici si besoin

@import "../node_modules/bootstrap/scss/bootstrap";
@import "_variables.scss";

.form-label,
.modal-title {
  color: white !important;
  font: normal var(--font-weight-link-menu) var(--font-size-link-menu) var(--font-type-link-menu);
}

.card {
  object-fit: cover;
  text-align: center; /* Centrer le texte à l'intérieur de la carte */
}

.game-image {
  display: block; /* Pour centrer l'image horizontalement */
  margin: 0 auto; /* Centrer l'image horizontalement */
}
