:root {
  --font-type-game-title: Poppins;
  --font-size-game-title: 15px;
  --font-weight-game-title: 700;
  --font-color-game-title: #fff;
  --font-type-game-price: Poppins;
  --font-size-game-price: 15px;
  --font-weight-game-price: 700;
  --font-color-game-price: #c97a7a;
  --font-type-main-title: Poppins;
  --font-size-main-title: 2.5rem; /* 40px / 16px = 2.5rem */
  --font-weight-main-title: 250;
  --font-color-main-title: #00c2ff;
  --font-type-link-menu: Poppins;
  --font-size-link-menu: 1.625rem; /* 15px / 16px = 0.9375rem */
  --font-weight-link-menu: 250;
  --font-color-link-menu: #8ba6b6;
  @media (max-width: 1682px) {
    font-size: 12px;
  }
}
