* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px dashed rgb(235, 56, 56);
  /* overflow: hidden; */
  transition: 0.3s!important;
}

body {
  /* overflow-x: hidden !important; */
}

.collapse {

z-index: 999;
  border: 1px dashed rgb(101, 14, 201);
  /* overflow: hidden; */
  position: absolute;
  top: 0;
  left: 0;
}

/* Animation pour ouvrir le menu */
#navMenu.collapsing {
    width: 50%;
    transition: width 1s ease-out;
  }
  
  /* Animation pour fermer le menu */
  #navMenu.collapsed {
    width: 70%;
    transition: width 1s ease-in;
  }
  
  /* Lorsque le menu est ouvert, ajustez la largeur à votre choix */
  #navMenu.show {
    width: 80%; /* Ajustez la largeur comme nécessaire */
  }
  

